@font-face {
  font-family: Bm;
  src: url(BM-HANNA.ttf);
}

#root {
  max-width: 80vw;
  margin: 0 auto;
}
* {
  font-family: Bm;
  font-size: 50px;
  /* color: black; */
  color: #efead8;
}

.name {
  font-size: 100px;
  width: 40%;
}

.app {
  justify-content: space-between;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-color: rgb(234, 234, 234); */
  background-color: #5f7161;
  justify-content: space-between;
}

.topName {
  width: 100%;
}
.welcomeLine {
  height: 300px;
  /* background-color: blueviolet; */
  margin-bottom: 100px;
  width: 50%;
  padding: 0%;
  font-size: 40px;
}
.welcome {
  font-size: 50px;
}
.aboutMe {
  height: 30vh;
  /* background-color: blue; */
}

.aboutPara {
  font-size: 40px;
}

.toolDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.toolButtons {
  background-color: transparent;
  outline: #efead8;
  outline-style: outset;
  outline-width: 2px;
  border: none;
}

.projectsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.projTitle {
  font-size: 50px;
}

.projectCard {
  height: 50vh;
  width: 20vw;
  background-color: #f4f4f4;
  outline: 5px;
  outline-style: outset;
  outline-color: #efead8;
  font-size: 40px;
  border-radius: 4px;
  margin: 10px;
  color: rgb(26, 26, 26);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.projectImage {
  height: 50%;
  width: 100%;
  align-content: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.projButton {
  width: 100%;
  cursor: pointer;
}
.descriptionButton {
  width: 100%;
  cursor: pointer;
}
footer {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  justify-content: center;
}

.footerImg {
  height: 60px;
  width: 60px;
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

@media all and (max-width: 500px) {
  .app {
    width: 100%;
  }
  .projectsDiv {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .projectCard {
    height: 50vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    font-size: 40px;
    border-radius: 4px;
    margin: 10px;
    color: rgb(26, 26, 26);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
  }

  .topName {
    width: 50px;
    font-size: 60px;
  }
  .name {
    width: 50px;
    font-size: 60px;
  }
}
