@font-face {
  font-family: Bm;
  src: url(BM-HANNA.ttf);
}

#root {
  max-width: 80vw;
  margin: 0 auto;
}
* {
  font-family: Bm;
  font-size: 50px;
}

.name {
  font-size: 100px;
  width: 40%;
  justify-content: center;
}

.app {
  background-color: rgb(0, 0, 0);
  justify-content: space-between;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(26, 26, 26);
  justify-content: space-between;
}

.topName {
  text-align: center;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.welcomeLine {
  height: 300px;
  /* background-color: blueviolet; */
  margin-bottom: 100px;
  width: 50%;
  padding: 0%;
  font-size: 40px;
}
.welcome {
  font-size: 50px;
}
.aboutMe {
  height: 30vh;
  /* background-color: blue; */
}

.aboutPara {
  font-size: 40px;
}

.projectsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.projTitle {
  font-size: 50px;
}

.projectCard {
  height: 50vh;
  width: 20vw;
  background-color: rgb(255, 255, 255);
  font-size: 40px;
  border-radius: 4px;
  margin: 10px;
  color: rgb(26, 26, 26);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: blue;
  margin-top: 60px;
}

.projectImage {
  height: 50%;
  width: 100%;
  align-content: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.projButton {
  width: 100%;
  cursor: pointer;
}
.descriptionButton {
  width: 100%;
  cursor: pointer;
}
